###################################
# GLOBAL
###################################
*.log
*.tmp
*.cache
*.bak
*.swp

###################################
# SQLITE DATABASE
###################################
*.db
*.sqlite
*-journal
data/

###################################
# C++ BUILD OUTPUT
###################################
# C++ build artifacts
build/
gateway/build/
tcp-server/build/

# CMake files
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake

*.o
*.so
*.a
*.out
*.exe

###################################
# REACT / NODEJS
###################################
fe-client/node_modules/
fe-client/build/
fe-client/.cache/
fe-client/.parcel-cache/
fe-client/dist/
fe-client/.DS_Store

###################################
# IDE FILES
###################################
.vscode/
.idea/
*.iml

###################################
# OS JUNK
###################################
.DS_Store
Thumbs.db

###################################
# BACKUP FILES
###################################
*.orig
*.rej
