version: "3.8"

services:
  fe-client:
    build: ./fe-client
    ports:
      - "3000:80"
    depends_on:
      - gateway

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - TCP_SERVER_HOST=tcp-server
      - TCP_SERVER_PORT=9000
    depends_on:
      - tcp-server

  tcp-server:
    build:
      context: .
      dockerfile: tcp-server/Dockerfile
    ports:
      - "9000:9000"
